* {
    padding: 0;
    margin: 0;
}
#header {
    background-color: #fff;
}

.navbar {
     height: 78px;
}

.navbar-brand img {
    width:250px;
}
.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    padding: 1em 0 !important;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}
.banner {
    padding-left: 60px;
    padding-right: 60px;
}

.nav-item {
    font-size:x-large;
}
